html {
    background-color: #fefefa;
    font-family: sans-serif;
}

h1{
    font-size: 42px;
}

h2{
    font-size: 28px;
}

img{
    border: 2px solid #292828;
}

ol {
    list-style-position: inside;
}

ul {
    list-style-position: inside;
}

.top-section {
    background-color: #e1bee7;
    width: 900px;
    color: #292828;
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 7.5px solid #292828;
}

.heading-section {
    background-color: #e1bee7;
    width: 900px;
    color: #292828;
    font-size: 16px;
    text-align: center;
    border: 7.5px solid #292828;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.button-section {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

button {
    display: inline-block;
    background-color: #e1bee7; 
    width: 34.65%;
    color: #292828;
    font-size: 16px;
    text-align: center;
    border: 7.5px solid #292828;
    margin:-7.5px;
    margin-top: 0px;
    padding: 25px 75px;
    font-size: 18px;
}

button:hover {
    background-color: #ce93d8; 
    color: #292828;   
  }